.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 900;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  align-items: center;
  backdrop-filter: blur(3px);


}
.detail2 {
  display: flex;
  flex-direction: column;
  background-size: cover;
  border: 1px black solid;
  width: fit-content;
  align-items: center;
  justify-content: center;
  color: rgb(0, 62, 127);
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 3vh;
  padding: 5vh;
  margin-bottom: 10vh;
  transition: 0.5s;
  border-radius: 10px;

}
.text{
  font-family: 'Zen Dots', cursive;
  text-align: start;
}
.text h2{
  font-family: 'Rokkitt', serif;

}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.detail2 img {
  width:500px;
  
}
.detail2:hover {
  cursor: pointer;
  border: 2px solid rgb(34,193,195);
  transform: scale(105%);
  background-color: #ffe0d0;
  
}
.loading {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  float: top;
  margin-bottom: 40vh;
  transition: 0.5s;
}
.loading p{
  color:#6c4b3a;
  font-size: 44px;
}