.footer {
    border-top: 1.5px solid hsla(177, 10%, 45%, 0.933);
    width: 100%;
    color: var(--secondary-color);
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(197,182,209,1) 0%, rgba(34,193,195,1) 100%);
min-height: 14.5vh;
}

.site_footer {
    display: flex;
    justify-content: space-between;
    padding: 0 8% ;
}

.site_footer .copyright{
    font-size: 1rem;
    padding: 1rem 0;
}

.redes_sociales{
    padding: 0.5rem 0 0 0;
}

.redes_sociales a{
    font-size: 3rem;
    padding-left: 4rem;
}

.redes_sociales a{
    padding: 2rem;
}

.redes_sociales img{
    width: 30px;
}

@media (max-width: 640px) {
   
}